In [13]:
#import pandas and load data
import pandas as pd
file_to_load = "Instructions/HeroesOfPymoli/Resources/purchase_data.csv"
data = pd.read_csv(file_to_load)
data.head()
data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [14]:
#Total number of players
total_players = len(data["SN"].unique())
total_players

576

In [15]:
#Gender statistics
gender_count=data["Gender"].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64