In [1]:
#import pandas and load data
import pandas as pd
file_to_load = "Instructions/HeroesOfPymoli/Resources/purchase_data.csv"
data = pd.read_csv(file_to_load)
datadf = pd.DataFrame(data)
data.head()
datadf.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [2]:
#Total number of players
unique_players = data["SN"].unique()
total_players = len(unique_players)
total_players

576

In [10]:
#Total purchase analysis
data.describe()
unique_items = len(data["Item Name"].unique())
average_price = round(data["Price"].mean(),2)
purchases = len(data)
total_revenue = data["Price"].sum()
total_purchase_data = {'Unique Items':[unique_items],
    'Average Price':[average_price],
    'Purchases':[purchases],
    'Total Revenue':[total_revenue]}
total_purchase_data_df = pd.DataFrame(total_purchase_data)
total_purchase_data_df["Average Price"] = total_purchase_data_df["Average Price"].astype(float).map('${:,.2f}'.format)
total_purchase_data_df["Total Revenue"] = total_purchase_data_df["Total Revenue"].astype(float).map('${:,.2f}'.format)
total_purchase_data_df

   Unique Items Average Price  Purchases Total Revenue
0           179         $3.05        780     $2,379.77

In [41]:
#Gender statistics

#Group by player and gender
gender_grouping = ["SN","Gender"]
gg = datadf.groupby(gender_grouping).agg({'SN':'count','Age':'max','Price':'sum'})
gg["Age"] = gg["Age"].astype(int)
gg["Price"] = gg["Price"].astype(float)
gg = gg.rename(columns={'SN':'Purchases'})
gg["Purchases"] = gg["Purchases"].astype(int)
#Group by gender
gc = gg.groupby(["Gender"]).agg({'Purchases':'count'})
gc = gc.rename(columns={'Purchases':'Players'})
#Add % players column
gc["% Players"] = ((gc["Players"]*100.0)/(total_players*1.0)).astype(float).map("{:,.2f}%".format)
gc

                       Players % Players
Gender
Female                      81    14.06%
Male                       484    84.03%
Other / Non-Disclosed       11     1.91%

In [51]:
#Gender purchase analysis
gp = pd.DataFrame(gg)
gp = gp.groupby(["Gender"]).agg({'Purchases':'sum','Price':['sum','mean']})
gp.columns = ["_".join(x) for x in gp.columns.ravel()]
gp = gp.rename(columns={'Purchases_sum':'Purchases','Price_sum':'Total Sales','Price_mean':'Average Price'})
gp["Total Sales"] = gp["Total Sales"].astype(float).map("${:,.2f}".format)
gp["Average Price"] = gp["Average Price"].astype(float).map("${:,.2f}".format)
gp

                       Purchases Total Sales Average Price
Gender
Female                       113     $361.94         $4.47
Male                         652   $1,967.64         $4.07
Other / Non-Disclosed         15      $50.19         $4.56