In [92]:
#import pandas and load data
import pandas as pd
file_to_load = "Instructions/HeroesOfPymoli/Resources/purchase_data.csv"
data = pd.read_csv(file_to_load)
datadf = pd.DataFrame(data)
data.head()
datadf.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [79]:
#Total number of players
unique_players = data["SN"].unique()
total_players = len(unique_players)
total_players

576

In [80]:
#Total purchase analysis
data.describe()
unique_items = len(data["Item Name"].unique())
average_price = round(data["Price"].mean(),2)
purchases = len(data)
total_revenue = data["Price"].sum()
total_purchase_data = {'Unique Items':[unique_items],
    'Average Price':"$"+str(average_price),
    'Purchases':[purchases],
    'Total Revenue':"$"+str(total_revenue)}
total_purchase_data_df = pd.DataFrame(total_purchase_data)
total_purchase_data_df

   Unique Items Average Price  Purchases Total Revenue
0           179         $3.05        780      $2379.77

In [182]:
#Gender statistics

#Group by player and gender
gender_grouping = ["SN","Gender"]
gg = datadf.groupby(gender_grouping).agg({'SN':'count','Age':'mean','Price':'sum'})
gg = gg.rename(columns={'SN':'Purchases'})
ggf = pd.DataFrame(gg)
#Group by gender
gc = ggf.groupby(["Gender"]).agg({'Purchases':'count'})
gc = gc.rename(columns={'Purchases':'Players'})
#Add % players column
gc["% Players"] = round(gc["Players"]*100/total_players,2).astype(str)+"%"
gc

                       Players % Players Calc
Gender
Female                      81         14.06%
Male                       484         84.03%
Other / Non-Disclosed       11          1.91%

In [102]:
#Gender purchase analysis